<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/employeeform}" th:object="${employee}" method="post">
    ID: <input type="text" th:field="*{id}" /><br />
    Name: <input type="text" th:field="*{name}" /><br />
    SSN: <input type="text" th:field="*{SSN}" /><br />
    DOB: <input type="text" th:field="*{DOB}"/>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>